- content_for :head do
  %link{rel: 'stylesheet',href: '/assets/movie_brick.css'}

%div
  %div
    = image_tag  "default.png"
  %div
    %p.movie-brick-movie-title
      = link_to "#{movie.name}", movie_path(movie)
    %p.movie-brick-movie-release-date
      = movie.release_date
